# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/
.venv-*/

# Ancienne structure (ne plus versionner)
gestion_rdv/

# Django
*.log
local_settings.py
db.sqlite3
backend/media/
backend/staticfiles/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
